@reference '../../index.css';

.tailmateModalContainer{
	@apply fixed bg-black opacity-50;
	@apply z-50 flex content-center justify-center;
	inset: 0;
}
.tailmateModalDialog{
	@apply z-50 relative;
}
.tailmateModalMain{
	@apply fixed flex w-screen;
	@apply items-center justify-center p-4;
	inset: 0;
}
.tailmateModalPanel{
	@apply space-y-4 border bg-white;
	@apply p-6 w-[480px] rounded-md;
}
.tailmateModalTitle{
	@apply font-bold empty:hidden;
}
